#board {
	position: relative;
}
/* ゲームボード */
#layer0 {
	position: absolute;
	top: 0;
	left: 0;
	border: 5px double darkgreen;
	background-color: green;
	border-collapse: separate;
	border-spacing: 1px;
	z-index: 2;
}
#layer0 td {
	width: 60px;
	height: 60px;
	padding: 5px;
	border: 1px solid forestgreen;
	border-collapse: separate;
	border-spacing: 1px;
	empty-cells: show;
}
#layer0 td.mark {
	border: 1px dashed #9f3;
}	
#turn {
	width: 70px;
	height: 70px;
	border: 5px double darkgreen;
	background-color: green;
}

.white {
	background: transparent url(./white.png) no-repeat center center;
}

.black {
	background: transparent url(./black.png) no-repeat center center;
}

.empty {
	background: transparent url(none);
}

.able {
	background: #090 url(none);
	text-align: center;
	color: darkkhaki;
	font-family: cursive;
}

#blackScore {
	border: 5px double ivory;
	background-color: black;
	color: ivory;
	text-align: right;
}
#whiteScore {
	border: 5px double black;
	background-color: whitesmoke;
	color: black;
	text-align: right;
}
